.search-form {
  position: relative;
  width: 500px;
}
.search-form input {
  width: 100%;
}
.search-form ul {
  list-style: none;	
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
}
#result{
  background-color: rgb(245, 245, 245);
}
